@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Hanken Grotesk', sans-serif;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.container {
	display: flex;
	box-shadow: 1px 2px 10px #6643ff1f;
	border-radius: 40px;
}
.left,
.right {
	overflow: hidden;
	border-radius: 25px;
	width: 270px;
	height: 350px;
	padding: 30px;
}

.left {
	background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.left .left-title {
	font-size: 18px;
	font-weight: 700;
	opacity: 0.8;
}

.left .score-container {
	background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
	height: 140px;
	width: 140px;
	border-radius: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.left .score {
	font-size: 55px;
	font-weight: 800;
}
.left .score-out-of {
	font-weight: 700;
	opacity: 0.7;
}

.left .info-title {
	font-size: 18px;
	font-weight: 700;
}
.left .info-text {
	font-size: 15px;
	opacity: 0.65;
	text-align: center;
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background: #fff;
}
.right-title {
	font-weight: 700;
}

.summary-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin: 10px 0;
	border-radius: 10px;
}

.summary-item:nth-child(1) {
	background: hsla(0, 100%, 67%, 0.08);
}
.summary-item:nth-child(1) .summary-item-left {
	color: hsl(0, 100%, 67%);
}

.summary-item:nth-child(2) {
	background: hsl(39, 100%, 56%, 0.08);
}
.summary-item:nth-child(2) .summary-item-left {
	color: hsl(39, 100%, 56%);
}

.summary-item:nth-child(3) {
	background: hsl(166, 100%, 37%, 0.08);
}
.summary-item:nth-child(3) .summary-item-left {
	color: hsl(166, 100%, 37%);
}

.summary-item:nth-child(4) {
	background: hsl(234, 85%, 45%, 0.08);
}
.summary-item:nth-child(4) .summary-item-left {
	color: hsl(234, 85%, 45%);
}

.summary-item .summary-item-left {
	display: flex;
	align-items: center;

	font-size: 14px;
	font-weight: 700;
}

.summary-item img {
	margin-right: 8px;
	height: 18px;
}

.summary-item-right {
	font-size: 14px;
	font-weight: 700;
}
.summary-item-overall-score {
	color: rgb(165, 165, 165);
}

.right button {
	border: none;
	background: hsl(224, 30%, 27%);
	color: #fff;
	width: 100%;
	font-size: 16px;
	padding: 10px;
	border-radius: 30px;
	cursor: pointer;
}
